/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are two custom edits:
 * make the line-height relative and unit-less
 * remove the pre,code styles as we use a recommendation from Eric Meyer instead
*/
body { font:13px arial,helvetica,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% arial,helvetica,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; }


/* normalize monospace sizing 
 * meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
 */
code, pre { font-family: "Courier New", monospace, serif; font-size: 1em; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }


ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* jquery UI */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-tabs { position: relative; padding: 2px 0; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: 2px 2px 0 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 1px 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: 2px 10px; text-decoration: none; background:#dddfe1; font-size:11px; color: #000000; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color:#ffffff; border-bottom:1px solid #609047; background:#85a74d; padding-bottom:1px; }
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; border: 0; padding: 10px 14px; background: none; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; }
.ui-tabs .ui-tabs-panel p { margin: 4px; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-autocomplete { list-style:none; position: absolute; cursor: default; border:1px solid #bcbdbe; border-top: none; background: #ffffff; padding: 2px; }
.ui-autocomplete li a { color:#444; padding: 2px 4px; background:#f8f8f8; font-size: 12px; display: block; text-decoration: none; }
.ui-autocomplete li a.ui-state-hover { background: #85a74d; color:#ffffff; }


/* Primary Styles
	Author: Birkir R Gudjonsson
*/
dl dt { clear:both; display:block; float:left; min-width:110px; margin:0 0 0.5em 0; padding:0.1em 0 0 0; }
dl dd { float:none; display:block; margin:0 0 0.5em 0; }
input, select, textarea, button { font-size: 10px; line-height: 10px; }
select { padding: 2px; font-size:11px; }
fieldset { padding:20px; }
input[type='text'], input[type='password'] { font-size:13px; line-height:normal; border:1px solid #bcbdbe; border-top-color:#a2a3a4; border-bottom-color:#d2d3d4; background:#ffffff; padding:1px 2px; outline:none; margin:0 0 6px 0; }
input[type='text']:focus, textarea:focus, textarea.focus, input[type='password']:focus, input.focus { border-color:#85D05C; border-top-color:#73B450; border-bottom-color:#8ADF5C; outline: none; }
input[type='text'].small, input[type='password'].small { font-size:11px; height:16px; }
input[type='text'].prompted, input[type='password'].promted { color:#999; padding:1px 2px; }
textarea { font-size:13px; line-height:normal; border:1px solid #bcbdbe; border-top-color:#a2a3a4; border-bottom-color:#d2d3d4; background:#ffffff; margin:0; padding:1px 2px; outline:none; margin:0 0 6px 0; }
textarea.small { font-size:11px; }
a.button, input.button, button { font-size:11px; color:#222222; border:1px solid #acacac; background:#f9f9f9; text-align:center; text-decoration:none; padding:4px 12px; cursor:default !important; margin:0; }
a.button.large, input.button.large, button.large { font-size:12px; padding:6px 18px; }
a.button:focus, input.button:focus { border-color:#9AD27B; border-right:1px solid #999999; }
a.button:hover, input.button:hover, button { text-decoration:none; }
a.button { display:inline-block; }
a.button, input.button, button { border:1px solid #cdcdcd; border-bottom:1px solid #999999; background:#ededed; }
a.button:active, input.button:active, button:active { background:#c7c7c7; border:1px solid #c7c7c7; border-bottom:1px solid #a1a1a1 !important; border-right:1px solid #a6a6a6 !important; }
a.button.disabled, input[disabled='disabled'], button.disabled { border:1px solid #cdcdcd !important; border-bottom:1px solid #999999 !important; background: #ededed !important; }
p { font-size:1.0em; line-height:1.45em; margin:0.3em 0 1em 0.5em; color:#323232; }
p.justify { text-align:justify; }
h1 { font-size:24px; padding:0 0 0.25em 0; margin:0 0 0.5em; font-weight:bold; line-height:30px; color:#8cbf34; letter-spacing:-0.02em; border-bottom:1px solid #eee; }
h2 { font-size:16px; padding:0 0 0.25em 0; margin:0 0 0.5em; font-weight:bold; color:#8cbf34; line-height:22px; border-bottom:1px solid #e9e9e9; }
h3 { font-size:16px; margin:0 0 0.1em; }
h4 { font-size:14px; margin:0 0 0.1em; }
h5 { font-size:13px; margin:0 0 0.3em; }
h6 { font-size:12px; margin:0 0 0.25em; text-transform:uppercase; }
.wrap { position:relative; width:780px; margin:0 auto; }
a.back { float:right; font-size:13px; }
.floatr { float:right; }
.floatl { float:left; }
.floatn { float:none; }

header { position:relative; background:#a7d950; }

header div.wrap { height:80px; }

header #logo { font-family:"Arial Black"; font-size:36px; text-transform:uppercase; color:#ffffff; opacity:0.95; }

header #menu { position:absolute; bottom:0; left:0; }
header #menu ul { list-style:none; margin:0; }
header #menu ul li { float:left; margin:0 4px 0 0; }
header #menu ul li a { float:left; padding:5px; width:80px; color:#ffffff; line-height:18px; font-size:12px; text-decoration:none; text-align:center; font-weight:bold; }
header #menu ul li:hover a { background:rgba(0,0,0,0.02); }
header #menu ul li.current a { background:#fff; color:#888;  }

header #search { position:absolute; bottom:-18px; right:-20px; }
header #search input[type='text'] { float:left; border:none; color: #999999; font-family:Arial; font-size:11px; padding:1px 4px 2px 4px; }
header #search input[type='submit'] { float:left; border:none; background:none; font-family:Arial; font-size:12px; color:#ffffff; text-transform:uppercase; font-weight:bold; cursor:pointer; margin:0; padding:2px 0 2px 8px; }

header #user { position:absolute; bottom:32px; right:0; text-align:right; font-size:12px; color:#ffffff; }
header #user #welcome span { font-size:11px; }
header #user #shortcuts { margin:3px 0 0; }
header #user #shortcuts span { opacity:0.5; }
header #user #shortcuts a { font-weight:bold; color:#ffffff; text-decoration:none; }
header #user #shortcuts a:hover { text-decoration:underline; }

div#main { margin-top:10px; }

.ui-tabs ul li { float:left; }

/**
 * Login Styles
 */
.login header { width:100%; }
.login header div.wrap { height:340px; }
.login header #logo { position:absolute; bottom:10px; left:50%; margin-left:-100px; }
.login #main div.wrap { display:none; }
.login #main div.login { width:300px; margin:30px auto 0 auto; padding-right:113px; }


/**
 * CSS3 styles
 */
input[type='text'],
textarea,
input[type='password'] {
	box-shadow:inset 0 1px #dedede;
	-moz-box-shadow:inset 0 1px #dedede;
	-webkit-box-shadow:inset 0 1px #dedede;
}
input[type='text']:focus {
	box-shadow:inset 0 1px #d3ddcd;
	-moz-box-shadow:inset 0 1px #d3ddcd;
	-webkit-box-shadow:inset 0 1px #d3ddcd;
}

/* buttons */
a.button,
input.button,
button {
	background: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#dfdfdf));
	background: -moz-linear-gradient(top,#f1f1f1,#dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dfdfdf');
}

a.button:active,
input.button:active,
button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#c9c9c9));
	background: -moz-linear-gradient(top,#e1e1e1,#f9f9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1',endColorstr='#f9f9f9');
}
a.button.disabled,
input[disabled='disabled'],
button.disabled {
	opacity:0.35;
	-webkit-opacity:0.35;
	-moz-opacity:0.35;
	filter: alpha(opacity=35);
	background: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#dfdfdf)) !important;
	background: -moz-linear-gradient(top,#f1f1f1,#dfdfdf) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dfdfdf') !important;
}
header {
	background:-webkit-gradient(linear,left top,left bottom,from(#afe454),to(#9bc94b));
	background:-moz-linear-gradient(#afe454 0%, #9bc94b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afe454',endColorstr='#9bc94b');
}
header #logo {
	text-shadow: rgba(0,0,0,0.08) 1px 1px 0;
}
header #menu ul li a {
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}
header #search input[type='text'] {
	-webkit-box-shadow:-1px -1px rgba(0,0,0,0.08) !important;
	-webkit-border-radius:2px;
}
header #user #shortcuts {
	text-shadow: rgba(0,0,0,0.08) 1px 1px 0;
}
.ui-tabs .ui-tabs-nav li a {
	text-shadow:#ffffff 0px 1px 0px;
	background:-webkit-gradient(linear,left top,left bottom,from(#e2e3e5),to(#d5d8da));
	background:-moz-linear-gradient(#e2e3e5 0%, #d5d8da 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e3e5',endColorstr='#d5d8da');
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	text-shadow:#517A3B 0px 1px 0px;
	background:-webkit-gradient(linear,left top,left bottom,from(#8caf51),to(#81a24b));
	background:-moz-linear-gradient(#8caf51 0%, #81a24b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8caf51',endColorstr='#81a24b');
}
.ui-tabs .ui-tabs-panel,
.ui-table.border-less,
.ui-accordion {
	box-shadow:1px 1px 6px rgba(0,0,0,0.14);
	-moz-box-shadow:1px 1px 6px rgba(0,0,0,0.14);
	-webkit-box-shadow:1px 1px 6px rgba(0,0,0,0.14);
}
.ui-autocomplete li a.ui-state-hover
{
	text-shadow:#517a3b 0 1px 0;
	background:-webkit-gradient(linear,left top,left bottom,from(#8caf51),to(#81a24b));
	background:-moz-linear-gradient(#8caf51 0%, #81a24b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8caf51',endColorstr='#81a24b');
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}